<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/Users/prax/.local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.dr-alex.improve</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-lc</string>
		<string>dr-alex improve --once</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/dr-alex-improve.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/dr-alex-improve.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>45</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/prax/dr-alex</string>
</dict>
</plist>
